Los profesores y maestros mantenían la convicción de elevar la calidad académica. En conjunto con los padres de familia, organizaron actividades que permitieran a los alumnos vincularse con su comunidad y así, mejorar su desempeño:

- **Festival de las artes**: difusión del arte local y a fin de que los jóvenes desarrollaran sus talentos mediante el reconocimiento de la diversidad cultural e impulsaran el respeto al otro.
- **Jornadas de ciencia**: acercar a los jóvenes a carreras Físico-Matemáticas y explorar otros campos de estudio mediante la convivencia de ex alumnos que cursan carreras afines.
- **Club de excursionismo**: visita a lugares de la región para valorar y conocer el patrimonio natural y cultural de los huatusqueños ante un contexto generalizado de violencia.
- Preparación de los alumnos para PLANEA y orientación para ingreso a educación superior a través de exámenes prueba y seguimiento de intereses vocacionales.
- Mejoramiento de infraestructura para que los jóvenes percibieran su espacio como un lugar agradable donde pueden estudiar.
