Las acciones que se tomaron fueron la cooperación de padres de familia, realización de rifas y tardeadas con ventas de comida y bebidas para recaudar los recursos necesarios.

Finalmente, como consecuencia del trabajo extraclase, se logró la participación por segundo año consecutivo en la Feria Nacional de Ciencias e Ingenierías (FENACI) y se impulsó la creación del Club de Ciencia PAUTA UNAM, donde impartieron un taller de electrónica básica por parte del ICATECH, generando un acercamiento de las y los jóvenes del plantel a la ciencia y la tecnología.
