Con ayuda del Comité de Padres de familia se logró la encuadernación de dichos proyectos en forma de libros. La cadena de promotores de la lectura creció exponencialmente.

El trabajo de este esfuerzo llegó al alcance del Congreso del Estado de Nayarit donde los niños compartieron sus fábulas ante la prensa y se les otorgaron reconocimientos por su participación. El proyecto escaló de tal manera que los niños también fueron partícipes en un programa de radio local donde invitaron a los niños a escribir y apreciar la lectura.

Actualmente los niños son unos líderes de promotores de la lectura.
