Para ello realizaron actividades educativas como un huerto escolar donde participaron todos los agentes del plantel incluyendo padres de familia, con el objetivo de unir esfuerzos para un bien común elevando el nivel académico.

Algunas otras estrategias fueron la lectura de cuentos, juntas técnicas pedagógicas y programas de salud. También realizaron eventos especiales para la convivencia como festivales en la escuela.

Todas estas acciones atienden las  4 prioridades de la Ruta de Mejora Escolar logrando así,  obtener todos los premios de Mérito Escolar. Además participaron y ganaron el Premio Nuevo León a la Calidad. Ahora, este plantel percibe un cálido ambiente escolar donde prevalece el respeto, confianza, compañerismo y un mejoramiento académico progresivo.
