Este proyecto se comenzó con  la realización de carteles y anuncios que contenían frases para el cuidado del medio ambiente, se asignaron los martes y jueves de para la recolecta de basura entre padres de familia y alumnos. Además, cada niño se hacía responsable de colocar 2 garrafones de agua reciclados, el primero fuera de su casa y el segundo cerca de la playa con ayuda de sus padres.

Debido a los temblores de septiembre del 2017, los estudiantes se quedaron sin un salón de clases, con el compromiso y organización de padres y maestros, hicieron una colecta de material para construir un bajarete, que es utilizado para impartir clases.

Los problemas con los que se enfrentaron fueron la poca cultura que existe en la comunidad sobre el cuidado del medio ambiente y los pocos medios con los que cuenta la escuela;  sin embargo, gracias al trabajo constante, han tenido cambios benéficos.

