Así, los padres de familia, docentes y alumnos se prepararon académica y socioemocionalmente para el proceso del intercambio abordando temas relacionados con el currículo escolar de ambos países.

El resultado fue maravilloso. Lograron una formación integral de la comunidad escolar binacional sustentada en el respeto por la diversidad cultural, el aprecio por la cultura, la educación y las artes, mejorando el desempeño académico de los alumnos pues ahora valoran más la importancia de conocer su historia, cultura regional y tradiciones que pueden compartir con personas de otras naciones.
