Años atrás, la escuela mostró su interés por la ecología y  diseñó un sistema de reciclaje. Por medio del **programa Eco-reto**, alumnos y maestros reciclaban botellas de plásticos para enseñar a los niños a cuidar el medio ambiente y al final del año obtener un recurso extra.

Por consiguiente, alumnos y maestros reciclaron  más de 8 mil botellas de plástico que fueron llenadas con arena  a mano una por una para la construcción del aula que, hasta hoy, es única en el municipio.
A mediados del 2015, inició este proyecto que llamó la atención del alcalde municipal,  por el gran trabajo, dedicación y beneficio que traería reciclar miles de botellas de plástico.
Con esta aula alumnos, docentes y padres de familia pretenden promover el hábito del reciclaje y el cuidado del medio ambiente a los alumnos.
