Padres de familia, estudiantes y personal institucional, unieron esfuerzos para reforzar los lazos de convivencia, respeto, tolerancia, trabajo en equipo y  para combatir factores como la violencia y el acoso escolar para mejorar el proceso de enseñanza-aprendizaje y formar ciudadanos íntegros y comprometidos con su comunidad.

Para lograrlo, tomaron una serie de acciones como las siguientes:

- Se pintaron los cruces peatonales aledaños a la escuela, ya que los accidentes viales son la principal causa de muerte en los niños y jóvenes de Baja California Sur.
- Junto con los padres de familia se realizó la actividad “Carta a mi hijo” en la cual los padres de familia buscar motivar, crear confianza y reforzar sus lazos comunicativos con sus hijos.
- Se organizaron jornadas de limpieza involucrando padres de familia, docentes y alumnos para generar una sana convivencia, conciencia ecológica y sentido de pertenencia a la institución y su comunidad.
- Se realizaron actividades culturales y científicas para generar la convivencia entre la comunidad escolar y los padres de familia.


De este modo, se ha logrado que los estudiantes se sientan motivados al contar con el apoyo de sus familias y el respaldo de la institución a la que pertenecen, de igual modo, genera resultados positivos en cuestiones académicas, sociales y comunitarias que ayudan al crecimiento personal de los alumnos del centro educativo.
