**¿Qué se logró?**

1. Se construyeron 3 mesas de concreto con bancos para que los alumnos tomaran sus alimentos durante el receso y para desarrollar otras actividades recreativas como juegos o concursos.
2. Se amplió un 40% el uso del espacio destinado al esparcimiento de los alumnos, habilitando las zonas afectadas por la maleza.
3. Se limpió gran parte del patio escolar y se dio mantenimiento a los árboles de la escuela.
4. Se construyó un huerto escolar para aprovechar los recursos  y demostrar el cuidado del medio ambiente.
5. Se sigue fomentando el cuidado de la salud por medio de la alimentación sana y el ejercicio físico.
