La Escuela Primaria Niños Héroes tenía un problema de espacio para realizar las actividades escolares correspondientes: no se contaba con espacio para la biblioteca escolar; la explanada, que se ocupa para las clases de educación física y los juegos de los alumnos durante el recreo, también se utilizaba como plaza cívica para homenajes, festivales y reuniones generales con padres de familia y, debido al constante crecimiento de maleza, el espacio donde los alumnos pudieran tomar sus alimentos era insuficiente.

Antes esto, la urgente necesidad de habilitar más espacios incentivó a al Comité de padres de familia a organizarse y emprender acciones para mejorar la convivencia de los alumnos. Los maestros colaboraron en su tiempo libre y los directivos autorizaron las ayudas que se requerían para cumplir las actividades.

**¿Qué se logró?**

1. Se construyeron 3 mesas de concreto con bancos para que los alumnos tomaran sus alimentos durante el receso y para desarrollar otras actividades recreativas como juegos o concursos.
2. Se amplió un 40% el uso del espacio destinado al esparcimiento de los alumnos, habilitando las zonas afectadas por la maleza.
3. Se limpió gran parte del patio escolar y se dio mantenimiento a los árboles de la escuela.
4. Se construyó un huerto escolar para aprovechar los recursos  y demostrar el cuidado del medio ambiente.
5. Se sigue fomentando el cuidado de la salud por medio de la alimentación sana y el ejercicio físico.
