**¿Qué acciones se llevaron a cabo?**

- Se limpió la barda frontal de la escuela y se pintaron los arcos en color blanco.
- Se pintó el interior y exterior de tres aulas tipo estrella, así como las rejas y puertas de cada una.
- Se pintó el interior del anexo de la Telesecundaria en color blanco.
- Una vez terminados los trabajos, el Presidente de la Sociedad de Padres de Familia propuso al tesorero la compra de tela de color azul que combinara con el color blanco del interior de los salones de clase y se hicieran cortinas para cada una de las ventanas.

El impacto del proyecto fue positivo. Todos los padres de familia participaron muy entusiastas denotando la motivación al realizar su actividad encomendada y se reforzó la educación cívica y el sentido de pertenencia a la escuela.
