Como parte de los acuerdos establecidos por el Consejo Escolar de Participación Social de la **Telesecundaria No. 324 en San José de Ayala, Guanajuato** , se buscó realizar un proyecto de trabajo a fin de mejorar las condiciones físicas de la escuela y, con ello, la calidad educativa de los alumnos.

Reunido el CEPS y la Sociedad de Padres de Familia, se inició con un plan de trabajo de mejora de la infraestructura física educativa para el que organizaron equipos de trabajo en distintos días y horarios.

