La escuela primaria Francisco Márquez se encuentra ubicada en una de las colonias que presenta mayor índice delictivo en la ciudad de Guadalajara; por ello, la sociedad de padres de familia y el consejo de participación social, consideraron importante emprender acciones para que los alumnos encontraran en la escuela un espacio de recreación, aprendizaje sano y convivencia pacífica con sus compañeros.

Para lograrlo, llevaron a cabo un diagnóstico de desempeño académico y contexto social en el que se veían inmersos los alumnos. Obtenidos los resultados, padres de familia, en conjunto con maestros, organizaron una agenda por mes para determinar las acciones que pondrían en marcha.

