La escuela primaria Francisco Márquez se encuentra ubicada en una de las colonias que presenta mayor índice delictivo en la ciudad de Guadalajara; por ello, la sociedad de padres de familia y el consejo de participación social, consideraron importante emprender acciones para que los alumnos encontraran en la escuela un espacio de recreación, aprendizaje sano y convivencia pacífica con sus compañeros.

Para lograrlo, llevaron a cabo un diagnóstico de desempeño académico y contexto social en el que se veían inmersos los alumnos. Obtenidos los resultados, padres de familia, en conjunto con maestros, organizaron una agenda por mes para determinar las acciones que pondrían en marcha.

**¿Qué se logró?**

1. Se realizó un taller para maestros a fin de generar dinámicas de fomento a la lectura en el aula, así como la creación de la _Biblioteca Viajera,_ un proyecto que consistió en organizar 12 cajas con libros que rotaran de los grupos A al B.
2. Con apoyo de padres de familia y exalumnos se realizó el saneamiento de diversas áreas en la escuela, una de ellas, la remodelación de una biblioteca-ludoteca.
3. Se reactivaron las clases de cúbix con cuerpos geométricos en la asignatura de Matemáticas.
4. Organizaron dinámicas de activación física como una macroclase de Educación Física y partidos de fútbol.
5. Maestros y autoridades educativas gestionaron pláticas sobre prevención de adicciones, autocuidado, campañas de vacunación y pediculosis.
6. Los padres de familia, junto con los maestros y los alumnos, cuidaron un huerto escolar para mostrara la importancia del medio ambiente y el consumo de alimentos propios.
