La Escuela Secundaria Ofic. No. 0439 Aquiles Serdán en Ecatepec, Estado de México, en los últimos años ha tenido problemas en el logro de aprendizajes de los jóvenes y alta deserción escolar debido a contextos familiares y económicos muy vulnerables en la zona.

Por esta razón, la Asociación de Padres de Familia e integrantes del consejo Escolar de Participación Social apostaron por el trabajo en equipo para el progreso en la mejora de la calidad educativa. A través de las autoridades educativas, se estableció un diálogo para participar en las actividades escolares y apoyar en el aula a los alumnos con dificultades en determinados aprendizajes.

El supervisor escolar brindó apoyo en las actividades que se realizaron en la escuela, los alumnos ayudaron para organizar actividades académicas y participaron activamente en ellas.

