Para implementar las estrategias pertinentes a fin de disminuir las agresiones e indisciplina y coadyuvar hacia una convivencia sana y pacífica, las autoridades educativas, maestros, padres de familia, tutores de grupo y la coordinadora de Asistencia Educativa, enfocaron los esfuerzos en la mejora de: convivencia en el aula, reglamento escolar, práctica de valores y asistencia-puntualidad.

¿Cómo se llevó a cabo?

- Adecuación del Reglamento de Convivencia Sana y Pacífica.
- Elaboración y exposición de carteles cada 15 días sobre un valor específico.
- Registro de asistencia educativa y citas con padres de familia de alumnos con inasistencias frecuentes.
- Vigilancia durante la entrada y salida del alumnado a la institución.
- Pláticas con padres de familia sobre la importancia de acompañar a los alumnos en su vida escolar.
