En la Escuela Secundaria Técnica No. 65 en San Luis Potosí, la mayoría de los alumnos provienen de colonias con alta densidad poblacional vulnerables a la influencia de pandillas y delincuencia.  El proyecto &quot;Mejora en la convivencia escolar&quot; se inició como método de detección y prevención de agresiones entre los alumnos; para ello, se realizó un test de 11 preguntas sobre aspectos familiares, sociales e interpersonales en relación a la violencia y el afecto.

Los resultados que obtuvieron del diagnóstico fueron: 35.73% de los alumnos tienen reportes por agresión o indisciplina, 32.8% atraviesa por problemas familiares, 12.8% participan en situaciones de agresión y 2.9% de los alumnos se juntan con pandillas.

Para implementar las estrategias pertinentes a fin de disminuir las agresiones e indisciplina y coadyuvar hacia una convivencia sana y pacífica, las autoridades educativas, maestros, padres de familia, tutores de grupo y la coordinadora de Asistencia Educativa, enfocaron los esfuerzos en la mejora de: convivencia en el aula, reglamento escolar, práctica de valores y asistencia-puntualidad.

¿Cómo se llevó a cabo?

- Adecuación del Reglamento de Convivencia Sana y Pacífica.
- Elaboración y exposición de carteles cada 15 días sobre un valor específico.
- Registro de asistencia educativa y citas con padres de familia de alumnos con inasistencias frecuentes.
- Vigilancia durante la entrada y salida del alumnado a la institución.
- Pláticas con padres de familia sobre la importancia de acompañar a los alumnos en su vida escolar.
