**¿Qué se hizo?**

- Actividades de pintura de murales y jardinería.
- Se pintó la escuela, canchas, rejas, puertas y pórtico.
- Se niveló el terreno, se retiró maleza, escombro, árboles caídos, se reforestó plantando un total de 100 árboles, los cuales quedaron con riego por goteo instalado por padres y madres de familia asesorados.
- Se construyeron mesas y bancas para que los alumnos pudieran desayunar utilizando llantas donadas por una empresa de la comunidad.
- Se elaboraron maceteros y se adquirió un centro recreativo, el cual fue armado e instalado por padres y madres de familia, brindando a los alumnos espacios para la recreación y convivencia.
- Se pintaron las rampas con los señalamientos adecuados, así como juegos tradicionales en la cancha.
- Se erradicaron riesgos, cercando áreas de instalaciones eléctricas, reforzando estructuras metálicas y se colocó un cerco de contención en la entrada principal para proteger al alumnado.

La participación de los padres fue en aumento en cada actividad que se proyectaba, la organización fue ejemplar. se aprovechó al máximo las aptitudes de los padres de familia que tomaron la iniciativa de aportar conocimientos y habilidades. El impacto fue total, el cambio muy radical y de gran beneficio no solo en las condiciones de la escuela sino en la integración de la comunidad y participación de los padres.
