La comunidad escolar de la Secundaria Roosevelt Ercé en Umán, Yucatán, está compuesta por 466 alumnos. Del análisis del contexto con relación a la convivencia y el ejercicio de los derechos humanos en el plantel, a través de diversos instrumentos y herramientas, se detectaron 100 alumnos con necesidades educativas especiales que  están en riesgo o presentan problemas de conducta.

Tratando de mejorar esta situación y cumpliendo con una de las cuatro prioridades de la Ruta de Mejora Escolar, se propusieron acciones entre la comunidad, a través de un consenso para bordar los temas de habilidades de comunicación (asertividad, escucha activa), resolución de conflictos a través de la mediación, negociación y arbitraje; fomento de la tolerancia, trabajo colaborativo, toma de decisiones, valores cívicos y disciplina.

Através de la Sociedad de Alumnos y Patrulleros escolares por salón; la Asociación de Padres y el Consejo Escolar de Participación Social, maestros y personal escolar, promovieron estas acciones:

- Establecimiento del Comité de desaliento a las Prácticas que generan violencia y de Integración Educativa.
- Actividades mensuales que promuevan la sana convivencia, pacífica e inclusiva, como concursos, torneos y actividades recreativas, en las que se inviten a expertos de instituciones estatales y municipales, a exponer sobre temas de índole educativa.
- Seguimiento al buzón de sugerencias y los expedientes de alumnos y padres de familia.
- Realización de Escuelas para Padres cada bimestre enfocado a padres cuyos hijos presentan una problemática académica y conductual.
- Conmemoración de los Días Internacionales de la UNESCO durante todo el ciclo escolar en temas diversos como derechos humanos, sustentabilidad, rescate al patrimonio cultural y geográfico, y solidaridad.
- Evaluación de resultados al concluir el ciclo escolar que sirvan de insumo para el siguiente curso escolar.
- Campañas y actividades de rescate a las palabras amables, la sonrisa, felicidad, prevención de violencia, del delito, del bullying y conocimiento a derechos de los Niños, Niñas y Adolescentes.
