**¿Qué acciones se llevaron a cabo?**

- Fomento a la lectura y escritura a través de rompecabezas, tarjetas y creación de cuentos.
- Programa de limpieza escolar y descacharrización para adecuar espacios de recreación.
- Carteles y pláticas preventivas sobre el Zika, dengue y Chinkungunya.
- Rally de conocimientos para repasar contenidos de diversas asignaturas.
- Taller de Disciplina y Normas de Convivencia dirigido a alumnos y padres de familia.
- Elaboración de Jardín Botánico y el plato del buen comer.
- Actividades deportivas y lúdicas: cachibol, adivina el refrán, gallina ciega y crucigrama de frases.

Al implementar estas acciones se buscó mejorar la actitud de los estudiantes con sus pares, reducir las agresiones físicas y verbales entre los alumnos, construir una comunidad escolar más incluyente, que los padres de familia se involucraran en el desarrollo cognitivo y social de los estudiantes, e incentivar la empatía, cooperación y solidaridad en la escuela.
