Con base en datos recolectados a través de una encuesta aplicada a alumnos, maestros y padres de familia, aunados a la observación del comportamiento de los educandos dentro de las aulas y las instalaciones del centro educativo, en la **Escuela Secundaria Elmer Orlando Gorocica en Ucú, Yucatán** , se detectó la necesidad de mejorar el ambiente de aprendizaje, así como involucrar de manera activa a los padres de familia en el fomento de una sana convivencia.

Para lograrlo, el Consejo Escolar de Participación Social y la Sociedad de Padres de Familia, implementaron actividades lúdicas, manuales, deportivas y talleres que, además de vincular contenidos de diversas asignaturas, promovieran de manera activa valores y normas de convivencia.

