Con base en datos recolectados a través de una encuesta aplicada a alumnos, maestros y padres de familia, aunados a la observación del comportamiento de los educandos dentro de las aulas y las instalaciones del centro educativo, en la **Escuela Secundaria Elmer Orlando Gorocica en Ucú, Yucatán** , se detectó la necesidad de mejorar el ambiente de aprendizaje, así como involucrar de manera activa a los padres de familia en el fomento de una sana convivencia.

Para lograrlo, el Consejo Escolar de Participación Social y la Sociedad de Padres de Familia, implementaron actividades lúdicas, manuales, deportivas y talleres que, además de vincular contenidos de diversas asignaturas, promovieran de manera activa valores y normas de convivencia.

**¿Qué acciones se llevaron a cabo?**

- Fomento a la lectura y escritura a través de rompecabezas, tarjetas y creación de cuentos.
- Programa de limpieza escolar y descacharrización para adecuar espacios de recreación.
- Carteles y pláticas preventivas sobre el Zika, dengue y Chinkungunya.
- Rally de conocimientos para repasar contenidos de diversas asignaturas.
- Taller de Disciplina y Normas de Convivencia dirigido a alumnos y padres de familia.
- Elaboración de Jardín Botánico y el plato del buen comer.
- Actividades deportivas y lúdicas: cachibol, adivina el refrán, gallina ciega y crucigrama de frases.

Al implementar estas acciones se buscó mejorar la actitud de los estudiantes con sus pares, reducir las agresiones físicas y verbales entre los alumnos, construir una comunidad escolar más incluyente, que los padres de familia se involucraran en el desarrollo cognitivo y social de los estudiantes, e incentivar la empatía, cooperación y solidaridad en la escuela.
