<div id="perfil">
  <div class="sub-header" layout="row" layout-align="space-between">
    <a href="/#!/">
      <img class="logo" src="images/educaaccion.png" alt="Educaccion">
    </a>
    <div class="sub-header-logo " layout="row" layout-align="center center">
      <img class="logo" src="images/despierta.png" alt="Despierta con Loret">
      <img class="logo" src="images/televisa.png" alt="Televisa">
      <img class="logo" src="images/mejora.png" alt="Mejora tu escuela">
    </div>
  </div>
  <div class="main-title" layout="column" layout-align="space-between center" layout-gt-md="row">
    <div class="title" layout="row" layout-align="center center">
      <img class="trophy" src="images/trofeo-perfil.png" alt="Trofeo">
      <div class="name" layout="column">
        <h1>
          <span class="type">
            Escuela {{sc.nivel}}
            <br>
          </span>
          {{sc.nombre}}

        </h1>
        <p class="location">
          {{sc.estado}}
          <span>CCT: {{sc.cct}}</span>
        </p>
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <div class="category" layout="row">
        <img class="mini-cup" src="images/categoria.png" alt="Categoria">
        <div class="border-right" layout="column">
          <p class="text">
            CATEGORIA:
          </p>
          <p class="main-text">{{sc.cat || 'Mejora académica'}}</h2>
        </div>
      </div>
      <div class="project" layout="column">
        <p class="text">PROYECTO:</p>
        <p class="main-text">{{sc.proyecto}}</p>
      </div>
    </div>
  </div>
  <div class="main-content container">
    <div ng-include="'views/escuela_video.html'"  ng-if="sc.yt && date==='2016-2017'"></div>
    <div ng-include="'views/escuela_carousel.html'" ng-if="date==='2017-2018' || date==='2018-2019'"></div>

    <div class="main-content-text" btf-markdown ng-include="'views/winners/' + pathFiles + sc.cct +'.html'">
    </div>
    <div class="main-content-text" btf-markdown ng-show="sc.more" ng-include="'views/winners/' + pathFiles + sc.cct +'_more.html'">
    </div>

    <a ng-click="sc.more=!sc.more" class="load-more">
      <span ng-show="!sc.more">Leer más...</span>
      <span ng-show="sc.more">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </span>
    </a>
  </div>
  <div ng-include="'views/escuela_carousel.html'" ng-if="date==='2016-2017'"></div>
  <div class="container fixed-video-spacing" ng-include="'views/escuela_video.html'"  ng-if="sc.yt && date==='2017-2018'"></div>

</div>
