<div id="perfil">
  <div class="sub-header" layout="row" layout-align="space-between">
    <a href="/#!/">
      <img class="logo" src="images/educaaccion.png" alt="Educaccion">
    </a>
    <div class="sub-header-logo " layout="row" layout-align="center center">
      <img class="logo" src="images/despierta.png" alt="Despierta con Loret">
      <img class="logo" src="images/televisa.png" alt="Televisa">
      <img class="logo" src="images/mejora.png" alt="Mejora tu escuela">
    </div>
  </div>
  <div class="main-title">
    <div class="title" layout="row" layout-align="center center">
      <img src="images/trofeo-perfil.png" alt="Trofeo">
      <div class="name" layout="column">
        <h1>
          <span class="type">
            Escuela {{sc.nivel}}
            <br>
          </span>
          {{sc.nombre}}

        </h1>
        <p class="location">
          {{sc.estado}}
          <span>CCT: {{sc.cct}}</span>
        </p>
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <div class="category" layout="row">
        <img class="mini-cup" src="images/categoria.png" alt="Categoria">
        <div class="border-right" layout="column">
          <p class="text">
            CATEGORIA:
          </p>
          <p class="main-text">Mejora académica</h2>
        </div>
      </div>
      <div class="project" layout="column">
        <p class="text">PROYECTO:</p>
        <p class="main-text">{{sc.proyecto}}</p>
      </div>
    </div>
  </div>
  <div class="main-content container">
    <div class="video-container" ng-if="sc.yt">
      <youtube-video video-id="sc.yt"></youtube-video>
    </div>

    <div class="main-content-text" btf-markdown ng-include="'views/winners/' + sc.cct +'.html'">
      <!--
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed sodales ipsum. Integer fringilla odio a porta pellentesque. Proin malesuada, risus sed hendrerit luctus, elit erat cursus enim, nec placerat dui magna nec felis. Sed fermentum ac nulla quis venenatis. Integer vestibulum nibh ut libero egestas imperdiet. Etiam vel justo ac ipsum posuere cursus. Quisque at laoreet ipsum, in elementum tortor. Donec bibendum metus nec nisl sodales, sit amet vulputate nisl tristique. Nulla et lorem ac diam pellentesque ornare vitae ut nisl.

  Aenean id turpis iaculis, varius diam nec, blandit metus. Sed convallis, lorem tristique consectetur ullamcorper, est ante finibus ligula, quis iaculis ex mi id justo. Nam gravida sit amet nulla quis sollicitudin. Nullam ultrices ex vitae lorem iaculis, nec maximus odio blandit. Cras mattis nisl at turpis auctor condimentum. Integer sit amet semper erat. Proin porttitor sapien nisl, at malesuada nulla eleifend eu. Fusce facilisis eros ac diam aliquam, vel ullamcorper orci facilisis. Donec dictum ligula dapibus ex sodales hendrerit. Nunc libero nisl, feugiat sit amet finibus a, lacinia et turpis. Ut pellentesque eros nec magna pellentesque elementum. Donec ac lectus et enim consectetur malesuada.

  Nulla in mattis felis, sit amet tincidunt quam. Donec dapibus odio nisl, sed vulputate velit convallis a. Nunc tellus ex, porttitor vel tempor nec, varius et nisl. Aliquam et tincidunt mi. Cras sed massa ante. Nunc rhoncus pharetra ipsum vitae condimentum. Mauris tempor feugiat augue, nec posuere ligula pulvinar ut. Pellentesque sit amet gravida tellus. Nam semper, nunc mattis consectetur fermentum, nisl felis sodales ante, eu porttitor diam libero quis massa. Integer ut suscipit nisi, ac gravida purus. Integer ligula dui, blandit non lectus eu, consectetur volutpat nulla. Curabitur id elit a tortor aliquet bibendum sed at dui. Vivamus molestie eros et odio fringilla, id auctor ante pellentesque. Vestibulum varius nisl quis urna luctus tristique id nec nisl

      </p>
      -->
    </div>
  </div>
<ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2" rn-carousel-transition="hexagon">
    <li ng-repeat="slide in sc.imgs track by $index" ng-class="'id-' + $index">
        <div ng-style="{'background-image': 'url(' + slide + ')'}"  class="bgimage">
        </div>
    </li>
</ul>
<div class="indicators-ca" rn-carousel-indicators ng-if="sc.imgs.length > 1" slides="sc.imgs" rn-carousel-index="carouselIndex2"></div>
</div>
