<div id="winners" layout="column">
  <div layout="row" layout-fill layout-md="column">
    <div class="intro left" flex="50" flex-sm="100" flex-md="100">
      <div layout="column" layout-align="center center" layout-fill layout-padding>
        <a href="#!/"><img class="img-fix" src="images/main_logo_old.png" alt=""></a>
      </div>
    </div>
    <div class="intro right" flex="50" hide-sm layout='column' flex-md="100">
      <div flex layout="column" layout-align="center center">
        <img class="winners-cup" src="images/trofeo_3.png" alt="">
        <h2>Conoce las 10 historias
        <br>ganadoras de la
        <br>
        convocatoria <span ng-bind="date"></span>
        </h2>
      </div>
      <!--
      <div class='logos' layout-align="space-around center" layout='row'>
        <img src="images/fundacion_sm.png">
        <img src="images/mejora_sm.png">
      </div>
      -->
    </div>
  </div>
</div>
<div id="main-content" class="main-winners">
  <!-- <h3>Haz clic y conoce las 10 ganadoras</h3> -->
  <div class="arrow"></div>

  <div class="schools" layout='column' layout-sm="column" layout-align="center" flex="70" ng-show="date==='2016-2017'">
    <p layout='row' layout-sm='column' flex-sm="100" ng-repeat="(key,school) in schools">
      <a ng-href="{{school[0].img}}" target="_self" flex>{{school[0].name}}<i>{{school[0].geo}}</i></a>
      <a ng-href="{{school[1].img}}" target="_self" flex>{{school[1].name}}<i>{{school[1].geo}}</i></a>
    </p>
  </div>

  <div class="schools" layout='column' layout-sm="column" layout-align="center" flex="70" ng-show="date==='2015-2016'">
    <p layout='row' layout-sm='column' flex-sm="100">

        <a href="images/fichas/1.png" target="_self" flex>Centro de Educación Indígena Lázaro Cárdenas <i>Zongozotla, Puebla</i></a>

      <span flex="50" layout="row" class='video-container' flex-sm="100">
        <a href="https://www.youtube.com/watch?v=MlH9B2EyKi8" target="_blank" flex="15" class='video-icon'>
          <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>

        </a>
      <a href="images/fichas/2.png" target="_self" flex-sm="80" flex>Escuela Primaria General Lázaro Cárdenas <i>Dolores Hidalgo, Guanajuato</i></a>
      </span>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <span flex="50" layout="row" class='video-container'  flex-sm="100">
        <a href="https://www.youtube.com/watch?v=IyTsZ0Xcaa0" target="_blank" flex="15" class='video-icon'>
          <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
        </a>
        <a href="images/fichas/3.png" target="_self" flex>Escuela Primaria Amado Nervo <i>Atizapán de Zaragoza, Estado de México</i></a>
      </span>
      <a href="images/fichas/4.png" target="_self" flex>Preescolar Indígena Xochiquetzali <i>San José Chiquito, Santiago Miahuatlán, Puebla</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/5.png" target="_self" flex>Secundaria Técnica 46 Gral. Felipe Ángeles<i>Tijuana, Baja California</i></a>
      <a href="images/fichas/6.png" target="_self" flex>Escuela Primaria Amalia S. de Cárdenas <i>Cuautitlán Izcalli, Estado de México</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <span flex="50" layout="row" class='video-container'  flex-sm="100">
        <a href="https://www.youtube.com/watch?v=4gBzqRDr2_o" target="_blank" flex="15" class='video-icon'>
          <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
        </a>
        <a href="images/fichas/7.png" target="_self" flex>Escuela Preparatoria a Distancia 55 <i>Centla, Tabasco</i></a>
      </span>
      <a href="images/fichas/8.png" target="_self" flex>Escuela Primaria Álvaro Obregón <i>Fresnillo, Zacatecas</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/9.png" target="_self" flex>Escuela Primaria Independencia <i> Mexicali, Baja California</i></a>
      <span flex="50" layout="row" class='video-container'  flex-sm="100">
        <a target="_blank" href="https://www.youtube.com/watch?v=OqUkVzUeiQk" flex="15" class='video-icon'>
          <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
        </a>
        <a href="images/fichas/10.png" target="_self" flex>Telesecundaria Miguel Hidalgo <i>San Luis Potosí, SLP</i></a>
      </span>
    </p>

  </div>
</div>
