<div id="header" ng-controller="HeaderCtrl">
  <div class="header-owners" layout="row" layout-align="center center">
    <img class="own1" src="images/despierta.png" alt="">
    <img class="own1" src="images/televisa.png" alt="">
    <img class="own2" src="images/mejora.png" alt="">
  </div>

  <div class="header-main" layout="row" layout-align="center center" layout-margin>
    <a href="#!/">
      <img src="images/educa2018.png" alt="">
    </a>
  </div>

  <div class="header-content">
    <span class="circle cup">
       <img src="images/trofeo_3.png" alt="">
    </span>
    <h1>Conoce las historias ganadoras de EducAcción 2017-2018</h1>

    <div layout="row" layout-align="center center" class="list-win">
      <div flex="100" layout="row" layout-wrap layout-align="space-around start" layout-fill ng-cloak>
        <a href="#!/escuela/{{win.cct}}?periodo=2017-2018" layout-sm="column" flex-sm="100" layout-align="center center" flex="40" class="win" ng-repeat="win in winners" layout="row">
          <p class="name">
            {{win.nombre}}            <br>
            <span class="info">{{win.cct}}, {{win.estado}}</span>
          </p>
        </a>

      </div>
    </div>
  </div>
</div>
