<div id="header" class="h2018" ng-controller="HeaderCtrl">
  <div class="header-owners" layout="row" layout-align="center center">
    <img class="own1" src="images/despierta.png" alt="">
    <img class="own1" src="images/televisa.png" alt="">
    <img class="own2" src="images/mejora.png" alt="">
  </div>

  <div class="header-main" layout="row" layout-align="center center" layout-margin>
    <a href="#!/">
      <img src="images/educa2018-19.png" alt="">
    </a>
  </div>

  <div class="header-links" layout="row" layout-align="space-between center" layout-sm="column">
    <div  flex="50" layout="row" layout-align="end center" layout-align-sm="center center">
      <div flex="50"  layout="row" layout-align="center center">
        <div layout="column">
          <img class="force-icon" src="images/bases.png" alt="">
          <md-button href="/BasesConvocatoria_PapasYMamasEnEducAccion_2018.pdf" class="cm-button-white">Convocatoria 2018-2019</md-button>
        </div>
      </div>
    </div>
    <div flex="50" layout="row"  layout-align="start center" layout-align-sm="center center">
      <div flex="50"  layout="row" layout-align="center center">
        <div layout="column">
          <img class="force-icon" src="images/registra.png" alt="">
          <md-button href="http://registro-educaccion.mejoratuescuela.org/" class="cm-button-white">Registra tu proyecto</md-button>
        </div>
      </div>
      <!--
      <div flex="40"  layout="row" layout-align="start center">
        <div flex="35"></div>
        <div layout="column">
          <md-button class="md-primary">Primary Button</md-button>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
