<div id="header">
  <div class="header-owners" layout="row" layout-align="center center">
    <img class="own1" src="images/despierta.png" alt="">
    <img class="own1" src="images/televisa.png" alt="">
    <img class="own2" src="images/mejora.png" alt="">
  </div>

  <div class="header-main" layout="row" layout-align="center center" layout-margin>
    <a href="#!/">
      <img src="images/educa2018.png" alt="">
    </a>
  </div>

  <div class="header-content">
    <span class="circle cup">
       <img src="images/trofeo_3.png" alt="">
    </span>
    <h1>¡Felicidades a los ganadores de EducAcción 2017-2018!</h1>

    <div layout="row" layout-align="center center" class="list-win">
      <div flex="40">
        <div class="win">
          <p class="name">
            <span class="circle"></span>Nombre de la escuela
            <br>

            <span class="info">Ciudad, Estado</span>
          </p>
        </div>
        <div class="win">
          <p class="name">
            <span class="circle"></span>Nombre de la escuela
            <br>

            <span class="info">Ciudad, Estado</span>
          </p>
        </div>
      </div>
      <div flex="40">
        <div class="win">
          <p class="name">
            <span class="circle"></span>Nombre de la escuela
            <br>

            <span class="info">Ciudad, Estado</span>
          </p>
        </div>
        <div class="win">
          <p class="name">
            <span class="circle"></span>Nombre de la escuela
            <br>

            <span class="info">Ciudad, Estado</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
