<div id="header">
  <div class="header-owners" layout="row" layout-align="center center">
    <img class="own1" src="images/despierta.png" alt="">
    <img class="own1" src="images/televisa.png" alt="">
    <img class="own2" src="images/mejora.png" alt="">
  </div>

  <div class="header-main" layout="row" layout-align="center center" layout-margin>
    <img src="images/main_logo.png" alt="">
  </div>

  <div class="header-content">
    <h1>Convocamos a las sociedades de padre de familia y
      <br>
      Consejeros Escolares de Participación Social organizadas,
    </h1>
    <h2>que tenga proyectos que mejoren el desarrollo y aprendizaje de sus hijos e hijas,
    <br>
    de la mano de sus maestros y directores para alentar y reconocer
    <br>
    su trabajo mediante el relato de su historia de éxito.
    </h2>
  </div>
</div>
