<div id="camino" layout="column">
  <div layout="row" layout-fill layout-md="column">
    <div class="intro left" flex="60" flex-sm="100" flex-md="100">
      <div layout="column" layout-align="center center" layout-fill layout-padding>
        <h1 class="upper">CONVOCATORIA 2017-2018</h1>
        <p class="sub">Fundación Televisa y Mejora Tu Escuela, Contando las mejores historias</p>
        <p class="sub">Papás y mamás en <span class='highlight'> <span>Educ</span><span>Acción</span></span></p>
        <div class="quote">
          <div class="logo-educacion" hide show-gt-md>
            <div class="pic"></div>
            <div class="triangle"></div>
          </div>
          <p class="custom1 upper">¿Eres madre o padre de familia y participas en la escuela de tus hijos para mejorar su aprendizaje?</p>
          <p>Entonces, esta convocatoria es para ti.</p>
          <p class="custom2  upper">Fundación Televisa y MejoraTuEscuela.org </br><span>te invitamos a que le cuentes a México tu historia de éxito.</span></p>
          <p>El objetivo de esta convocatoria es alentar a las sociedades de padres de familia a participar activamente en el desarrollo y el aprendizaje de sus hijos e hijas de la mano de sus maestros y directores. Buscamos historias en las que se construyan propuestas creativas, innovadoras y viables para solucionar necesidades educativas reales. </p>
        </div>
        <p class="question upper">¿Tienes una historia de éxito?</p>
        <p class="cuenta upper">¡Cuéntanosla!</p>
        <p class="share upper">¡La queremos compartir!</p>
        <div class="mbases" hide-md></div>
        <div class="bases" layout="column" layout-align="space-around center">
          <div layout="row" class="border-link" layout-align="center center">
            <span class="iconexito-pdf">
            </span>
            <p class="upper">Leer las bases</p>
            <a class="total-link" target='_blank' href="/BasesConvocatoria_PapasYMamasEnEducAccion_2018.pdf"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="intro right" flex hide-sm layout='column'>
      <div class='logos' layout-align="space-around center" layout='row'>
        <img src="images/fundacion_sm.png">
        <img src="images/primero_sm.png">
        <img src="images/mejora_sm.png">
      </div>
      <div class="child-pic"></div>
    </div>
  </div>
  <div class="register info" layout="row" layout-wrap>
    <a
      class="register-item"
      href="http://registro-educaccion.mejoratuescuela.org/"
      layout="row"
      layout-align="center center"
      flex="100"
      flex-sm="100"
      flex-xs="100"
    >
      <span>
        <span class="iconexito-registro"></span>
        <h1>Da clic aquí y registra tu historia</h1>
        <p>Una vez terminado el registro, mándanos tus fotos y vídeos al correo educaccion@mejoratuescuela.org.</p>
        <a class="down" ng-show="showFormMain" ng-click="showDataInForm = !showDataInForm"></a>
        <!--
        <div flex="10" ng-cloak ng-show="!showFormMain" class="login-button-main">
          <md-button ng-click="doLogin()" class="md-raised logout" href="#/">Iniciar  <br> sesión</md-button>
        </div>
        -->
      </span>
    </a>
    <!--
    <div
      class="winner-link regiter-item"
      href="#/ganadoras"
      flex="40"
      flex-sm="100"
      flex-xs="100"
    >
      <div class="ribbon"></div>
      <h2>
        <a href="#!/listado">CONOCE LAS 10 ESCUELAS GANADORAS DE LA CONVOCATORIA</a>
        <span class="winners-space"></span>
        <a class="winners-link" href="#!/ganadoras?periodo=2015-2016">2015-2016</a>
        <a class="winners-link" href="#!/ganadoras?periodo=2016-2017">2016-2017</a>
      </h2>
    </div>
    -->
  </div>

  <div class="orange">
    <h3 class="thanks">Conoce la lista de escuelas ganadoras en ediciones pasadas.</h3>
    <!--
    <p class="show-schools">Conoce la lista de escuelas ganadoras</p>
    -->
    <div layout="row" layout-sm="column" layout-align="center center">
      <div flex="25">
        <p class="win-school latest">
          <a href="#!/ganadoras?periodo=2016-2017">Ganadores 2016-2017</a>
        </p>
      </div>
      <div flex="25">
        <p class="win-school">
          <a href="#!/ganadoras?periodo=2015-2016">Ganadores 2015-2016</a>
        </p>
      </div>
    </div>
  </div>




</div>

  <div class="cups" layout="column" layout-gt-md="row">
    <leaflet lf-center="center" markers="markers" defaults="options" id="map"  height="480px" width="640px" flex="100"></leaflet>
  </div>
<div class="container inputs">
  <div class="dump-content" ng-show="userLogin.email">

    <a id="registro"></a>
    <div ng-show="showDataInForm && !saving">
      <a class="edit-register">Editar existente:</a>
      <md-progress-circular md-mode="indeterminate" ng-show="loadingList"></md-progress-circular>

      <ul>
        <li ng-repeat="reg in registerList">
          <a ng-class="['reg-item', reg.$id == story.$id?'selected':'']" href="#/" ng-click="edit(reg)"> {{reg.cct}} | {{reg.projectName}}</a>
        </li>
      </ul>
    <p ng-show="!hasRegisters">Aún no tienes historias guardadas</p>
    </div>

    <br>

    <div flex="10" ng-cloak ng-show="showDataInForm && !saving" class="login-button-main">
      <md-button ng-click="newReg(); showForm = true" class="md-raised logout" href="#/">Nuevo registro</md-button>
    </div>


  </div>


  <form ng-if='!saved &amp;&amp; !saving &amp;&amp; showForm' ng-submit="save(selectedSchool)" ng-show="userLogin.email">
    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Datos de tu escuela <br>
          <span>(Pueden participar todas las escuelas del país desde preescolar hasta bachillerato)</span>
        </p>
      </div>
      <div layout="column" layout-fill flex="50" layout-wrap>
        <div layout="row" layout-align="start center" class="input-header">
          <p>Nombre de tu escuela</p>
        </div>
        <md-autocomplete md-input-id="auto-search-complete" required md-input-name="autocompleteField" md-input-minlength="0" md-search-text="searchText" md-items="item in getSchools(searchText)" md-selected-item='selectedSchool' md-selected-item-change='selectSchool(selectedSchool)' md-item-text="item.nombre+', '+item.nom_municipio" md-floating-label="Nombre de la escuela" ng-model='story.school'>
          <md-item-template>
            <!-- <span md-highlight-text="searchText">{{item.nombre}}, {{item.nom_municipio}}</span>-->
            <a tabindex="-1" class="autocomple_item">
              <i class="icon-escuela-01"></i>
              <strong>
                <span>{{item.nombre}}</span> (<span >{{item.nom_nivel || item.nivel}}</span>)
                <span>{{item.direccion}}</span>
              </strong>
            </a>
          </md-item-template>
        </md-autocomplete>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Clave de Centro de Trabajo (CCT)</p>
        </div>
        <md-input-container>
          <label>CCT</label>
          <input required ng-model="story.cct">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Calle</p>
        </div>
        <md-input-container>
          <label>Calle</label>
          <input required ng-model="story.street">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Número interior y exterior</p>
        </div>
        <md-input-container>
          <label>Número interior y exterior</label>
          <input required ng-model="story.nums">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Colonia</p>
        </div>
        <md-input-container>
          <label>Colonia</label>
          <input required ng-model="story.colony">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Delegación o Municipio</p>
        </div>
        <md-input-container>
          <label>Delegación o Municipio</label>
          <input required ng-model="story.delegation">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Código Postal</p>
        </div>
        <md-input-container>
          <label>Delegación o Municipio</label>
          <input required ng-model="story.postalCode">
        </md-input-container>
      </div>
    </md-card>

    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Datos del representante</p>
      </div>
      <div layout="column" layout-fill flex="100">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Nombre del representante del Consejo Escolar o de la sociedad de padres de familia</p>
        </div>
        <md-input-container>
          <label>Nombre</label>
          <input type='text' required  ng-model="story.representativeNames">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Teléfono de contacto</p>
        </div>
        <md-input-container flex='50'>
          <label>Teléfono</label>
          <input  ng-model="story.phone">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Correo electrónico de contacto</p>
        </div>
        <md-input-container>
          <label>E-Mail</label>
          <input class="default-email" type='email'  ng-model="story.email" ng-change="check()" ng-init="story.email = userLogin.email" disabled>
        </md-input-container>
      </div>

    </md-card>

    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Tu proyecto</p>
      </div>

      <div layout="column" layout-fill flex="100">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Nombre del proyecto</p>
        </div>
        <md-input-container>
          <label>Retos o problemas</label>
          <input required ng-model="story.projectName">
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="100">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Descripción de su proyecto o acciones que quieren tomar.</p>
        </div>
        <md-input-container>
          <label>Descripción</label>
          <input required ng-model="story.activityDescription">
        </md-input-container>
      </div>
    </md-card>

    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Evidencia</p>
      </div>

      <div layout="column" layout-fill flex="100">
        <div layout="column" layout-align="center center" class="input-header">
          <p>Proyecto en archivo de Word no mayor a 2 cuartillas con la siguiente información, fotografías tanto del proceso como del resultado final (formato JPEG, TNG o GIF) o archivos Power Point</p>
        </div>
        <md-input-container>
          <p class="warning">Adjunta evidencia desde tu computadora. El maximo es de 10MB</p>
          <div ng-file-reader on-readed="onReaded( event, file )" read-method="readMethod" multiple></div>
        </md-input-container>
        <div layout="column"  layout-align="start" class="input-header" ng-repeat="f in story.files">
          <p>* {{f.name}} - {{f.size | fileSize}} (<a target='_blank' ng-click="openFile(f.raw)">ver</a>)</p>
        </div>
      </div>

      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Videos</p>
        </div>
        <md-input-container>
          <label>Sólo enlaces de Youtube</label>
          <textarea ng-model="story.videoLinks">
          </textarea>
        </md-input-container>
      </div>

      <div layout-align="center center" layout="column" flex="100" class="send">
        <md-button ng-if='!saved' class="md-raised md-primary" type="submit">Enviar registro</md-button>
      </div>
    </md-card>

  </form>
  <!-- end form -->
  <div layout-fill layout='column' layout-align='center center' flex ng-if='saving' style='height:100%'>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <p>Guardando....</p>
  </div>
  <md-card layout-padding ng-if='saved' class='send' layout-align='center center'>
    <span class="iconexito-listo"></span>
    <p class="success">¡Listo!</p>
    <p>Tu registro ya se envió</p>
  </md-card>

  <md-card layout-padding layout-wrap layout='row' >
    <div layout="column" flex="100" layout-align="start center" class="input-header expand-input-header text-center">
      <!--
      <p>*A partir del 1ero de enero de 2016 te pediremos que nos compartas, a través de esta plataforma, tus experiencias y evidencias de lo que lograron.
        <br>
        <br>
        Los mejores proyectos serán premiados y recibirán apoyos complementarios por Fundación Televisa y Primero Noticias.
        <br>
      </p>
      -->
      <p class="blue">
        Si tienes dudas sobre como registrarte y enviar la información llámanos al teléfono: (55) 5985 1017 ext. 1150
         <br>
        Si quieres conocer más sobre la convocatoria  llama al (55) 5267 2000 ext. 13259

      </p>
    </div>
  </md-card>
  <div layout="row" layout-fill layout-align="space-around center" class="logos">
    <img src="images/despierta.png" alt="">
    <img src="images/fundacion.png">
    <img src="images/logo_mejora.png">
  </div>
</div>
