<div id="camino" layout="column">
  <div layout="row" layout-fill layout-md="column">
    <div class="intro left" flex="60" flex-sm="100" flex-md="100">
      <div layout="column" layout-align="center center" layout-fill layout-padding>
        <h1 class="upper">CONVOCATORIA</h1>
        <p class="sub">Fundación Televisa y Primero Noticias, Contando las mejores historias</p>
        <p class="sub">Papás y mamás en <span class='highlight'> <span>Educ</span><span>Acción</span></span></p>
        <div class="quote">
          <div class="logo-educacion" hide show-gt-md>
            <div class="pic"></div>
            <div class="triangle"></div>
          </div>
          <p class="custom1 upper">¿Registraste tu proyecto?</p>
          <p>Ahora es tiempo de subir tus evidencias.</p>
          <p>Puedes compartir archivos de texto, fotografías y/o la liga de tus videos para que sea más fácil evaluar tu proyecto.</p>
          <p>Recuerda que un comité seleccionará los mejores proyectos y después se hará una votación pública de los seleccionados para determinar a los ganadores.</p>
        </div>
        <p class="question upper">¿Tienes una historia de éxito?</p>
        <p class="cuenta upper">¡Cuéntanosla!</p>
        <p class="share upper">¡La queremos compartir!</p>
        <div class="mbases" hide-md></div>
        <div class="bases" layout="column" layout-align="space-around center">
          <div layout="row" class="border-link" layout-align="center center">
            <span class="iconexito-pdf">
            </span>
            <p class="upper">Leer las bases</p>
            <a class="total-link" target='_blank' href="instrucciones.pdf"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="intro right" flex hide-sm layout='column'>
      <div class='logos' layout-align="space-around center" layout='row'>
        <img src="images/fundacion_sm.png">
        <img src="images/primero_sm.png">
        <img src="images/mejora_sm.png">
      </div>
      <div class="child-pic"></div>
    </div>
  </div>
  <div class="register info">
    <div layout="column" layout-align="center center">
      <span class="iconexito-registro"></span>
      <h1>Registra tus evidencias</h1>
      <p>Si registraste tu proyecto antes del 31 de diciembre,</p>
      <p> es tiempo de subir tus evidencias.</p>
      <p>Fecha limite:</p>
      <p><strong>31 de Marzo de 2016</strong></p>
      <a class="down" ng-click="showForm = !showForm"></a>
    </div>
  </div>
</div>
<div class="container inputs">
  <a id="registro"></a>
  <form ng-if='!saved &amp;&amp; !saving &amp;&amp; showForm' ng-submit="save(selectedSchool)">
    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Ubica tu registro:</p>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Clave de Centro de Trabajo (CCT)</p>
        </div>
        <md-input-container>
          <label>CCT</label>
          <input ng-model="story.cct">
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Correo electrónico de contacto</p>
        </div>
        <md-input-container>
          <label>Escribe tu mail</label>
          <input type='email'  ng-model="story.email" ng-change="check()" >
        </md-input-container>
      </div>

      <div layout="column" layout-fill flex="100" ng-show="info">
        <div layout="column" layout-align="center center" class="input-header">
          <p>Por favor anexa archivos</p>
        </div>
        <md-input-container>
          <p class="warning">Sube el archivo desde tu computadora. El maximo es de 10MB</p>
          <div ng-file-reader on-readed="onReaded( event, file )" read-method="readMethod" multiple></div>
        </md-input-container>
        <div layout="column"  layout-align="start" class="input-header" ng-repeat="f in story.files">
          <p>* {{f.name}} - {{f.size | fileSize}} (<a target='_blank' ng-click="openFile(f.raw)">ver</a>)</p>
        </div>
      </div>
      <div layout="column" layout-fill flex="100" ng-show="info">
        <div layout="column" layout-align="center center" class="input-header">
          <p>Por favor anexa videos</p>
          <p><span>(<a target='_blank' href="youtube.pdf">Instrucciones</a></span>)</p>
        </div>
        <md-input-container>
          <label>Anexa videos subiendolos primero a youtube y luego pegando aqui el link</label>
          <textarea ng-model="story.video"></textarea>
        </md-input-container>
      </div>
      <div layout-align="center center" layout="column" flex="100" class="send">
        <md-button ng-if='!info' class="md-raised md-primary" type="submit">Obtener </md-button>
      </div>
      <div layout-align="center center" layout="column" flex="100" class="send">
        <md-button ng-if='info' class="md-raised md-primary" type="submit">Enviar </md-button>
      </div>
    </md-card>

    <div ng-if="info">
    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Datos de quien registra la escuela</p>
      </div>
      <div layout="column" layout-fill flex="100">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Nombre completo</p>
        </div>
        <md-input-container>
          <label>Nombre</label>
          <input type='text' required  ng-model="story.representativeNames">
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Correo electrónico de contacto</p>
        </div>
        <md-input-container>
          <label>Escribe tu mail</label>
          <input type='email'  ng-model="story.email" ng-change="check()" required>
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Teléfono de contacto</p>
        </div>
        <md-input-container flex='50'>
          <label>Teléfono</label>
          <input  ng-model="story.phone">
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Soy:</p>
        </div>
        <md-input-container flex='50'>
          <md-select ng-model="story.iam" required>
            <md-option value="Mamá">Mamá</md-option>
            <md-option value="Papá">Papá</md-option>
            <md-option value="Maestr@">Maestr@</md-option>
            <md-option value="Director@">Director@</md-option>
            <md-option value="Otro">Otro</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>¿Formas parte del consejo de participación social u organización de padres de familia?</p>
        </div>
        <md-input-container flex='50'>
          <md-select ng-model="story.association" required>
            <md-option value="Sí">Sí</md-option>
            <md-option value="No">No</md-option>
          </md-select>
        </md-input-container>
      </div>
      <!--
      <div layout="column" layout-fill flex="100">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Nombre de los integrantes de Asociación de Padres de Familia o Consejo de Participación Social (o de ambos).</p>
        </div>
        <md-input-container>
          <label>Nombre</label>
          <input type='text'  ng-model="story.associationNames">
        </md-input-container>
      </div>
      -->
    </md-card>

    <md-card layout-padding layout-wrap layout='row'>
      <div layout="row" flex="100" layout-align="start center" class="input-header expand-input-header">
        <span class="circle">
          <span class="iconexito-antecedentes"></span>
        </span>
        <p>Tu proyecto</p>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>¿Cuáles son los principales retos o problemas de la escuela?</p>
        </div>
        <md-input-container>
          <label>Retos o problemas</label>
          <input required ng-model="story.schoolProblems">
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>Descripción de su proyecto o acciones que quieren tomar.</p>
        </div>
        <md-input-container>
          <label>Descripción</label>
          <input required ng-model="story.activityDescription">
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>¿Qué resultados esperan tener con su proyecto?</p>
        </div>
        <md-input-container>
          <label>Descripción</label>
          <input required ng-model="story.results">
        </md-input-container>
      </div>
      <div layout="column" layout-fill flex="50">
        <div layout="row" layout-align="start center" class="input-header">
          <p>¿Quiénes van a participar en el proyecto?</p>
        </div>
        <md-input-container>
          <label>Integrantes</label>
          <input required ng-model="story.namesList">
        </md-input-container>
      </div>
      <div layout-align="center center" layout="column" flex="100" class="send">
        <md-button ng-if='!saved' class="md-raised md-primary" type="submit">Actualizar registro</md-button>
      </div>
    </md-card>


    </div>

  </form>
  <!-- end form -->
  <div layout-fill layout='column' layout-align='center center' flex ng-if='saving' style='height:100%'>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <p>Guardando....</p>
  </div>
  <div layout-fill layout='column' layout-align='center center' flex ng-if='searching' style='height:100%'>
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <p>buscando</p>
  </div>
  <md-card layout-padding ng-if='saved' class='send' layout-align='center center'>
    <span class="iconexito-listo"></span>
    <p class="success">¡Listo!</p>
    <p>Tu registro ya se envió</p>
  </md-card>

  <md-card layout-padding layout-wrap layout='row' ng-if="showForm">
    <div layout="column" flex="100" layout-align="start center" class="input-header expand-input-header text-center">
      <p class="blue">
        <br>
        ¿Tienes preguntas?
        <br>
        Escríbenos a:
        <br>
        <span>mamasypapaseneducaccion@fundaciontelevisa.org</span>
        <br>
        O por teléfono con Yolanda Gudiño al: (55) 5261-3277
      </p>
    </div>
  </md-card>
  <div layout="row" layout-fill layout-align="space-around center" class="logos">
    <img src="images/fundacion.png">
    <img src="images/1noticias.png">
    <img src="images/logo_mejora.png">
  </div>
</div>
